<!DOCTYPE html>
<html lang="en">
{{!-- Setting up main page layout with handlebars. --}}
<head>
	<meta charset="UTF-8">
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

         	<title>Yummy Burgers</title>

 

	<script src="/assets/js/burgers.js"></script>
</head>

<body>


	{{{ body }}}




	<footer class="footer font-small fixed-bottom bg-dark footer-copyright">
        <!-- Copyright -->
        <div class="col-md-12 col-sm-12 col-xs-12 text-center py-3 text-light">
            © 2021 Copyright:HKESKIN
        </div>
        <!-- End Copyright -->
    </footer>
    <!-- End Footer -->
</body>