

{{!-- Setting up list where burgers have not been devoured yet and adding button to click when they are eaten. --}}

<li>
    <div class="row">
    <div class="col-8">
        {{burger_name}}
    </div>
    <div class="col-4">
        <button class="btn devour" data-id="{{id}}" data-devoured="{{devoured}}">
            {{#if devoured}}Lets Eat!{{/if}}
        </button>
    </div>
    </div>
</li>